html, body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

main {
    padding: 15px;
}

.center {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-bar-main {
    height: 120px;
    background-color: #007bff;
}

.wrapper-main {
    background-color: #F5F5F5;
    min-height: 100vh;
    text-align: center;
}

.nav-bar-container {
    height: 100%;
}

.btn {
    margin: 4px;
}

.home-button {
    height: 100%;
    float: left;
}

.home-img {
    height: 50px;
    width: auto;
    margin-top: 30px;
}

.title {
    max-width: 500px;
    margin-top: 30px;
    float: right;
}

.signup-logout {
    float: right;
}

.signup-form {
    width: 60%;
}

@media only screen and (max-width: 575px) {
    .center {
        padding-left: 15px;
        padding-right: 15px;
    }
}